body {
    margin: 0;
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.show {
    display: block;
}
.hide {
    display: none;
}

button,
input {
    border: none;
    outline: none;
    background: none;
}
button:hover {
    cursor: pointer;
}

main {
    margin-left: 180px;
    position: relative;
}

main > * {
    padding: 30px 20px;
    height: 100vh;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    overflow: auto;
}

main #result {
    max-height: calc(100vh - 64px);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px 0;
    white-space: normal;
}

main #word {
    width: 100%;
    max-width: 360px;
    padding: 8px;
    border: 1px solid #444;
    border-radius: 3px;
    color: #444;
}

main #learnListPage {
    display: none;
    background: #fff;
}

main #learnListPage.active {
    display: block;
}

.match {
    color: red;
}

.match-in {
    color: red;
}

.hint {
    display: block;
    line-height: 1.8;
}
.hint .w {
    display: inline-block;
    font-weight: bold;
    margin-right: 16px;
    min-width: 64px;
}

.hint .learnOpt {
    display: inline-block;
    line-height: 1;
    padding: 0 3px;
    margin-right: 5px;
    border-radius: 2px;
    background: #2196f3;
    color: #fff;
    cursor: pointer;
    position: relative;
}
.hint .learnOpt:hover::after {
    content: "加入生词本";
    width: max-content;
    display: inline-block;
    padding: 0 3px;
    height: 16px;
    line-height: 16px;
    background: rgba(33, 149, 243, 0.85);
    border-radius: 0 2px 2px 0;
    position: absolute;
    bottom: 0;
    left: calc(100% + 14px);
}

.hint .removeNew:hover::after {
    content: "移除生词本";
}

.hint .learnOpt:hover::before {
    content: " ";
    color: rgba(33, 149, 243, 0.85);
    width: max-content;
    display: inline-block;
    height: 0;
    width: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: calc(100% - 2px);
    border: 8px solid transparent;
    border-color: transparent rgba(33, 149, 243, 0.85) transparent transparent;
}

aside {
    width: 180px;
    height: 100vh;
    box-sizing: border-box;
    background: #efefef;
    position: absolute;
    top: 0;
    padding: 30px;
}

aside .asideBtn {
    display: inline-block;
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    background: #ddd;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6),
        0 1px 2px 1px rgba(0, 0, 0, 0.2);
    color: #444;
    letter-spacing: 3px;
    transition: all 0.2s;
    margin-bottom: 20px;
}
aside .asideBtn:hover {
    background: #eee;
}

aside .asideBtn.active {
    background: rgba(72, 188, 255, 0.3);
}

aside #dragArea {
    border: 1px #666 dashed;
    height: 80px;
    border-radius: 5px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

aside #dragArea .uploadText {
    margin-top: 20px;
    text-align: center;
    font-size: 13.3333px;
    color: #555;
}

aside #dragArea .uploader {
    font-size: 13px;
    text-align: center;
}
aside #dragArea .uploader span {
    font-weight: bold;
}

.is-dragover {
    background: rgba(72, 188, 255, 0.3);
}
